body{
    background-image: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

main{
text-align: center; 
}

h1{
color: white;
    font-family: 'Outfit', sans-serif;
    height: 40px;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: none;
    margin-bottom: 0;
    
}

p{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16 px;
    padding-left: 230px;
    padding-right: 230px;
}

#p{
    margin-top: 0;
}

header{
   padding-top: 2rem; 
   padding-left: 4rem;
   padding-bottom: 2rem;
}

#logo{
    height: 2rem;
}

#formContainer{
    padding-top: 2rem;
    
}

#feedbackText{
     color: gray;
     font-family: 'Inter', sans-serif;
     border-bottom-style: solid;
     border-bottom-color:  #d20094;
     border-top: none;
     border-right: none;
     border-left: none;
     border-image: none;
     background-color: transparent;
     width: 55% ;
     line-height: 1rem;
     padding: 0;

}
#tastoInvia{
    display: none;
}

#infoButton{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 18px;
    background-color: #00ffff;
    color:rgb(41 , 1,27);
    height: 2.7rem;
    width: 10rem;
    border: none;
    margin-top: 35px;
}


