div{
    background-color: red;
    width: 3rem;
    height: 3rem;

}


.translateEl{
    animation: changeColor 3s linear infinite forwards; 
}

@keyframes changeColor{
0%{
    background-color: red;
}

50%{ background-color: aqua;

}

100%{
background-color: red;
}

}